    @media (min-width: 1000px) {
          .hex-project-a {
            margin-top: 112px;
            margin-left: 3px;
          }
          .hex-project-b {
            margin-left:-62px
          }
          .hex-project-c {
            margin-top: 225px;
            margin-left:-62px
          }
          .hex-project-d {
            margin-top: 337px;
            margin-left: 3px
          }
    }
    @media (max-width: 999px) {
          .honeycombs {
            margin-top: -112px;
          }
    }
    body {
      padding-top: 70px;
      font-family: 'Montserrat', serif;
      background-color: #F2E6B6;
      background-image: url(../img/bg_tan.png);
      color: #303030;
    }
    .navbar {
       background:rgba(255,255,255,0.8);   /* translucent nav bar */
    }
    .hex-right {
      width: 280px;
    	margin-left:200px;
    	text-align: left;
    }
    .hex-left {
      width: 280px;      
    	margin-right:200px;
    	text-align: right;
    }
    .text-light {
      color: #efefef;
    }
    .text-dark {
      color: #303030;
    }