<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
<!--   <title>Reuben Thiessen :: Project Portfolio</title> -->
    <link rel="stylesheet" type="text/css" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}"/>
    <link rel="stylesheet" type="text/css" href="{{ "/css/homeycombs.css" | prepend: site.baseurl }}"/>
    <link rel="stylesheet" type="text/css" href="{{ "/css/styles.css" | prepend: site.baseurl }}"/> 
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Montserrat+Subrayada'/>
    <link rel='stylesheet' type='text/css' href="{{ "/css/font-awesome.min.css" | prepend: site.baseurl }}"/>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"/>

    <style type="text/css">
      .navbar{
        background-image: url(/img/hex-nav-bg.png);
        background-repeat: no-repeat;
      }
    </style>
</head>