<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Reuben Thiessen :: Project Portfolio</title>
    <link rel="stylesheet" type="text/css" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}"/>
    <link rel="stylesheet" type="text/css" href="{{ "/css/homeycombs.css" | prepend: site.baseurl }}"/>
    <link rel="stylesheet" type="text/css" href="{{ "/css/styles.css" | prepend: site.baseurl }}"/> 
    <link rel="stylesheet" type="text/css" href="{{ "/css/hexagon-inner.css" | prepend: site.baseurl }}"/> 
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Montserrat+Subrayada'>
    <link rel="stylesheet" type="text/css" href="{{ "/css/font-awesome.min.css" | prepend: site.baseurl }}"/>
    <style type="text/css">
  .navbar{
    background-image: url(/img/hex-nav-bg.png);
    background-repeat: no-repeat;
  }
  .smile-content {
  background-image: url(/img/smile-inner-bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right; 
  min-height: 500px;
  }
  body {
    background-color: #efefef;
    background-image: url(/img/inner-page_bg.png);      
  }
    </style>
</head>